<ion-row>
  <div class="borderBottom">
    <swiper-container 
      [modules]="swiperModules" 
      [slidesPerView]="1.2" 
      [loop]="false"
      [initilSlide]="0"
      [centeredSlides]="true"
      [keyboard]="true"
      [autoplay]="true"
      [spaceBetween]="20"
      [pagination]="{ clickable: true, dynamicBullets: true }">
      <swiper-slide>
        <img src="assets/imgs/1.jpg" />
      </swiper-slide>
      <swiper-slide>
        <img src="assets/imgs/2.jpg" />
      </swiper-slide>
      <swiper-slide>
        <img src="assets/imgs/3.jpg" />
      </swiper-slide>
    </swiper-container>
  </div>
</ion-row>