
.ion-padding {
    padding: 1vh;
}

.veg {
    align-items: center;
}

.vegLabel {
    margin-right: 1vw;
}



ion-list-header {
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.5px;
}


ion-footer {
    h4, p {
        margin-left: 3%;
    }

    p {
        font-size: 0.55rem !important;
        letter-spacing: 0.5px;
    }
}