h1 {
    font-weight: bold;
    font-size: 1.2rem;
}

.dashedBorderBottom {
    border-bottom: 1px dashed var(--ion-color-medium);
    padding: 1vh;
    margin-bottom: 1vh;
}

.ion-padding {
    padding: 1vh;
}

.veg {
    align-items: center;
}

.vegLabel {
    margin-right: 1vw;
}



ion-item {
    ion-thumbnell {
        width: 10vh;
        height: 10vh;
        img {
            border-radius: 5px;
            width: 100%;
            height: 100%;
        }
    }

    ion-row {
        border: 1px solid var(--ion-color-medium);
        border-radius: 2px;
        padding: 0.3rem;
    }
}

ion-list-header {
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.5px;
}

.quantity {
    width: 2rem;
}

ion-text {
    font-size: 0.8rem;
     p {
        margin-top: 0.1rem;
     }
}

ion-footer {
    h4, p {
        margin-left: 3%;
    }

    p {
        font-size: 0.55rem !important;
        letter-spacing: 0.5px;
    }
}